#wrapper {
  display: grid;
  grid-template-areas: "nav nav nav" ". . ." ". signup ." ". . .";
  grid-template-rows: 1fr 1fr 5fr;
}
.signinForm {
  display: grid;
  grid-template-areas: "logo signin";
  grid-template-columns: 2fr 5fr;
  grid-area: nav;
  background-color: teal;
}
.signin {
  justify-items: center;
  background-color: thistle;
  grid-area: signin;
  text-align: right;
}

.signin input {
  background-color: tomato;

  position: relative;
}

.logo {
  grid-area: logo;
  text-align: center;
}

.signupForm {
  display: grid;
  grid-area: signup;
  margin: auto;
  background-color: turquoise;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .signin {
    background-color: tomato;
    display: grid;
  }
  .signin input {
    min-width: 60%;
  }
}
