* {
  box-sizing: border-box;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

body {
  background: #f0f2f5;
  margin: 10px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: repeat(8, 1fr);
  /* max-width: auto; */
  gap: 10px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "aside1 main aside2"
    "aside1 section aside2"
    "aside1 section aside2"
    "aside1 . aside2"
    "aside1 . aside2"
    "footer footer footer";
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 760px) {
  #container {
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
      "header header header"
      "aside1 aside2 aside2"
      "aside1 aside2 aside2"
      "main main main"
      "section section section"
      "footer footer footer";
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
#container > * {
  /* background: rgba(44, 8, 143, 0.849); */
  padding: 30px;
}

header {
  background-color: rgb(167, 223, 255);
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  margin: -10px;
  height: 10px;
  display: block;
}

textarea {
  background-color: #e4e6e9;
}

main {
  grid-area: main;
  background-color: #ffffff;
  text-align: left;
}

.choices {
  grid-area: section;
  background-color: #ffffff;
}

.choices li {
  list-style-type: none;
}

.btn {
  margin: 5px;
  width: 100%;
  text-align: left;
}

.rules {
  grid-area: rules;
  background-color: #ffffff;
  text-align: left;
}

.rules p {
  text-align: left;
}

.aside1 {
  float: left;
  position: fixed;
  grid-area: aside1;
  background-color: #ffffff;
}

.aside2 {
  float: right;
  position: fixed;
  right: 10px;
  grid-area: aside2;
  background-color: #ffffff;
  text-align: left;
}

.aside2 > * {
  text-align: left;
}

#myFooter {
  width: 100%;
  bottom: 0;
  margin-bottom: 5%;
}
#myFooter p,
span {
  color: black;
}
